

   
  <%= form_for(tweet) do |f| %>

    <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
   </div>

  <div class="field">
    <%= f.label :kontent %>
    <%= f.text_area :kontent %>
   </div>

  <div class="field">
    <%= f.label :rejting %>
    <%= f.number_field :rejting %>
   </div>

 <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
   </div>   

 <div class="actions">
  <%=  f.submit %>
 </div>

 <% end %>
