<% if notice.present? %>

   <div id="notice" class="alert alert-success " role="alert">
         <strong><%= notice %> </strong>
         </div>
         <%end%>

<p>


<h1 class="index-header">
  <div class="col-md-12 text-center">
  <label class="label label-default">Tweets</label>
</div>
</h1>


      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
      <th>Created</th>
      <th>Updated</th>
      <th>Title</th>
      <th>Kontent</th>
      <th>Rejting</th>
      <th>User</th>
              </tr>
            </thead>
         <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
<td><%= tweet.created_at %></td>
<td><%= tweet.updated_at %></td>
        <td><%= tweet.title %></td>
        <td><%= tweet.kontent %></td>
        <td><%= tweet.rejting %></td>
         <td><%= link_to tweet.user.name, tweet.user, class: 'btn btn btn-primary'   %></td>
       
        <td><%= link_to 'Show', tweet, class: 'btn btn-xs btn-warning' %> </td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-xs btn-info' %> </td>
        <td><%= link_to 'Destroy', tweet, method: :delete, class: 'btn btn-xs btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
          </table>
        </div>

<br>

<div class="container">
 <div class="row">

 <div class="col-md-4"><%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-sm btn-primary' %></div>

 <div class="col-md-4"><%= link_to 'Users', users_path, class: 'btn btn-sm btn-success' %></div>
<div class="col-md-4"><%= link_to "Bootstrap", '/bootstrap', :method => :get , class: 'btn btn-sm btn-info'%></div>
</div>
</div>
